<fieldset class="ui-grid-a">
  <div class="ui-block-a" id='descr'><a href="/">&lt;&lt; Regresar</a></div>
</fieldset>
<% if current_user %>
    <%= form_tag('/login') do |f| %>
        <div data-role="fieldcontain" class="ui-hide-label">
          <%= label_tag :codigo %>
          <%= text_field_tag :codigo, session[:codigo], 'placeholder' => 'codigo', 'required' => "required"%>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
          <%= label_tag :password %>
          <%= password_field_tag :password, session[:password], 'placeholder' => 'password', 'required' => "required" %>
        </div>

        <div data-role="fieldcontain" class="actions">
          <%= submit_tag 'Recarga mis datos'%>
        </div>
    <% end %>
<% else %>
    <%= form_tag('/login') do |f| %>
        <div data-role="fieldcontain" class="ui-hide-label">
          <%= label_tag :codigo %>
          <%= text_field_tag :codigo, nil, 'placeholder' => 'codigo', 'required' => "required"%>
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
          <%= label_tag :password %>
          <%= password_field_tag :password, nil, 'placeholder' => 'password', 'required' => "required" %>
        </div>

        <div data-role="fieldcontain" class="actions">
          <%= submit_tag "Log in"%>
        </div>
    <% end %>
<% end %>

<a href="#">&lt;No guardamos la informacion proporcionada&gt;</a><br>
<a href="#">&lt;La session se destruira automaticamente en 2 minutos&gt;</a>