<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain" class="ui-hide-label">
    <%= f.label :codigo %>
    <%= f.text_field :codigo, 'placeholder' => 'codigo' %>
  </div>
  <div data-role="fieldcontain" class="ui-hide-label">
    <%= f.label :password %>
    <%= f.text_field :password, 'placeholder' => 'password' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
