
<ul data-role="listview">
  <% @users.each do |user| %>
      <li><img src=<%=user.info.pic%> alt='<%= user.codigo %>'><h3><%= user.info.fullname %></h3><p><%=user.codigo%></p></li>
  <% end %>
</ul>
<br />

<footer data-role="navbar">
  <ul>
    <li><%= link_to 'Log in', new_user_path, 'data-role' => 'button', 'data-icon' => 'plus', 'data-theme' => 'b' %></li>
  </ul>
</footer>
