<!-- <ul data-role="listview">
  <% @users.each do |user| %>
  	<% if user.codigo %>
      <li><img src=<%=user.info.pic%> alt='<%= user.codigo %>'><h3><%= user.info.fullname %></h3><p><%=user.codigo%></p></li>
     <% end %>
  <% end %>
</ul>
<br /> -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=250953895009540";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="ui-grid-a">
	<div class="ui-block-a fb-like" data-href="http://orce.herokuapp.com/" data-send="true" data-width="450" data-show-faces="true"></div>
	<div class="ui-block-b fb-comments" data-href="http://orce.herokuapp.com/" data-num-posts="7" data-width="470"></div>
</div>

<footer data-role="navbar">
	<ul>
	<% if current_user %>
	    <li><%= link_to 'Mis notas', current_user, 'data-role' => 'button', 'data-icon' => 'star', 'data-theme' => 'b' %></li>
	<% else %>
	    <li><%= link_to 'Log in', new_user_path, 'data-role' => 'button', 'data-icon' => 'plus', 'data-theme' => 'b' %></li>
	<% end %>
	</ul>
</footer>	