<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @user.codigo %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p> -->

<% if @info.size != nil %>
<ul data-role="listview" data-theme="c">
	<li><%= @info[0].split("-").join(" ").downcase.titleize %></li>
	<li><%= @info[2].downcase.titleize %></li>
	<!-- <li><%= @info[-1] %></li> -->
</ul>
<% end %>
<br/>
<% if @cur.size != nil %>
	<!-- <p><%= @cur.inspect %></p> -->
	<% @cur.each do |key, value|%>
		<div data-role="collapsible">
		   <h3><%= key %></h3>
		   <% value.delete_if { |v| v =~ /--/} %>
		   <% if value.size == 0%>
		   		<p>No hay notas!</p>
		   <% else %>
		   		<p>Practicas: <%= value.join(",")%></p>
		   <% end %>
		</div>
	<% end %>
<% end %>
<div data-role="navbar">
	<ul>
		<li><%= link_to 'Back', users_path, 'data-role' => 'button', 'data-icon' => 'arrow-l', 'data-theme' => 'b' %></li>
		<li><%= link_to 'Edit', edit_user_path(@user), 'data-role' => 'button', 'data-icon' => 'gear', 'data-theme' => 'a' %></li>
		<li><%= link_to 'Destroy', @user, confirm: 'Are you sure?', method: :delete, 'data-role' => 'button', 'data-icon' => "delete", 'data-theme' => 'b', 'data-rel' => 'dialog' %></li>
	</ul>
</div>
