<ul data-role="listview" data-theme="c">
	<li><img src="<%= @info.pic %>" class="ui-li-thumb">
	<h3><%= @info.fullname %></h3>
	<p><%= @info.esp %></p>
	<p>Ciclo relativo : <%= dar_formato @info.ciclo %></p></li>
</ul>
<!-- <p><%= @ses.class %></p> -->
<br/>
<% if @cur.size != nil %>
	<% @cur.each do |key, value|%>
		<div data-role="collapsible" data-content-theme="a">
		   <h3><%= key %></h3>
		   <p><%= show_me "practicas",value %></p>
		   <p><%= show_me "examenes", value %></p>
		</div>
	<% end %>
<% end %>
<% unless facebook_app %>
<div data-role="navbar">
	<ul>
		<li><%= link_to 'Sign out', @user, confirm: "Quieres destruir tu session como #{@info.fullname}?", method: :delete, 'data-role' => 'button', 'data-icon' => "delete", 'data-theme' => 'b' %></li>
	</ul>
</div>
<% end %>

