<ul data-role="listview" data-theme="c">
	<li><%= @info.fullname %></li>
	<li><%= @info.esp %></li>
	<li>Ciclo relativo : <%= dar_formato @info.ciclo %></li>
</ul>
<br/>
<% if @cur.size != nil %>
	<% @cur.each do |key, value|%>
		<div data-role="collapsible">
		   <h3><%= key %></h3>
		   <p><%= show_me "practicas",value %></p>
		   <p><%= show_me "examenes", value %></p>
		</div>
	<% end %>
<% end %>
<% if facebook_app == nil %>
<div data-role="navbar">
	<ul>
		<li><%= link_to 'Destroy session', @user, confirm: 'Are you sure?', method: :delete, 'data-role' => 'button', 'data-icon' => "delete", 'data-theme' => 'b' %></li>
	</ul>
</div>
<% end %>

