<ul data-role="listview" data-theme="c">
	<li>
		<img src="<%= @info.pic %>" class="ui-li-thumb">
		<h3 class="ui-li-heading"><%= @info.fullname %></h3>
		<p class="ui-li-desc"><%= @info.esp %></p>
		<p class="ui-li-desc">Ciclo relativo : <%= dar_formato @info.ciclo %></p>
		<p>Ver notas en : 
				<a href="<%= user_path(@user, format: "pdf") %>"  data-ajax="false">PDF</a> 
			| <a href="<%= user_path(@user, format: "csv") %>"  data-ajax="false">CSV</a> 
			| <a href="<%= user_path(@user, format: "xls") %>"  data-ajax="false">XLS</a>
			<!--
			json: http://orce.herokuapp.com/users/tu_codigo_con_letra.json 
			xml: http://orce.herokuapp.com/users/tu_codigo_con_letra.xml
			-->
		</p>
	</li>
</ul>
<br/>
<% if @cursos.size != nil %>
	<% @cursos.each do |c|%>
		<div data-role="collapsible" data-content-theme="a">
		   <h3><%= pretty_name(c[:curso])+" "+c[:codigo]+c[:seccion] %></h3>
		   <table>
		   	<tbody>
		   	<tr>
					<th>Tipo de Examen</th>
					<th>Nota</th>
					<th>Reclamo</th>
					<th>%Desaprobados</th>
				</tr>
				<% c[:notas][:practicas].each_with_index do |row, index| %>
					
					<tr id="row-<%=index%>">						
						<td><%= row[0] %></td>
						<% klass = "red" if row[1].to_i < 10 && row[1]!="NSP" %>
						<td class="<%= klass %>"><%= row[1] %></td>
						<td><%= row[2] %></td>
						<td><%= row[3] %></td>
					</tr>
				<% end %>		
				<% c[:notas][:examenes].each_with_index do |row, index| %>

					<tr id="row-x-<%=index%>">						
						<td><%= row[0] %></td>
						<% klass = "red" if row[1].to_i < 10 && row[1]!="NSP" %>
						<td class="<%= klass %>"><%= row[1] %></td>
						<td><%= row[2] %></td>
						<td><%= row[3] %></td>
					</tr>
				<% end %>
				</tbody>
		   </table>
		</div>
	<% end %>
<% end %>
<div data-role="navbar">
	<ul>
		<li><%= link_to 'Salir', signout_path, confirm: "Quieres destruir tu session como #{@info.fullname}?", method: :delete, 'data-role' => 'button', 'data-icon' => "delete", 'data-theme' => 'b' %></li>
	</ul>
</div>

